.HomeComponent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.HomeComponent-in {
    background-color: #fff;
    padding: 4rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.HomeComponent-in-head {
    margin-bottom: 20px;
}

h1 {
    color: #000;
}

.HomeComponent-in-body button {
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 30px;
}

.HomeComponent-in-body button:hover {
    background-color: #333;
}

.HomeComponent-in-body a {
    color: #000;
    text-decoration: none;
    margin-right: 10px;
}

.HomeComponent-in-body a:hover {
    color: #333;
}
